# Python
__pycache__/
*.pyc
*.pyo
venv/
.env

# Database
*.db
*.sqlite

# IDE
.vscode/
.idea/

# OS
.DS_Store
Thumbs.db
NUL

# Hardware secrets
hardware/plant_monitor/secrets.h
hardware/secrets.h
secrets.h
